[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim"]
	path = vim
	url = https://github.com/mmqmzk/.vim.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-custom/plugins/fz"]
	path = zsh-custom/plugins/fz
	url = https://github.com/changyuheng/fz.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "zsh-custom/plugins/zsh-autopair"]
	path = zsh-custom/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh-custom/plugins/fast-syntax-highlighting"]
	path = zsh-custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "zsh-custom/plugins/diff-so-fancy"]
	path = zsh-custom/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "zsh-custom/plugins/forgit"]
	path = zsh-custom/plugins/forgit
	url = https://github.com/wfxr/forgit.git
